---

- name: Install {{ generic_packages }}
  become: true
  become_user: root
  ansible.builtin.package:
    name: "{{ generic_packages }}"
    state: "present"
  when: generic_packages is defined

- name: Install generic_package_specs
  ansible.builtin.include_tasks: package_spec.yml
  loop: "{{ generic_package_specs }}"
  when: generic_package_specs is defined
