---

- name: Install {{ pacman_packages }}
  become: true
  become_user: root
  community.general.pacman:
    name: "{{ pacman_packages }}"
    state: "present"

- name: Install pacman_package_specs
  ansible.builtin.include_tasks: pacman_spec.yml
  loop: "{{ pacman_package_specs }}"
