---

- name: Install {{ item.name | default(item) }}
  become: true
  become_user: root
  community.general.zypper:
    name: "{{ item.name | default(item) }}"
    state: "{{ item.state | default('present') }}"
